<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:jw="http://typo3.org/ns/JWeiland/Jwsitepackage13/ViewHelpers"
	data-namespace-typo3-fluid="true">


	<div class="width-max pos-relative">
		<div class="grid flex-row-reverse flex-space-between wrapper-header">
			<div class="grid col-4_md-6_sm-12 flex-end header-service">
				<f:if condition="{showLang}==1">
				<div class="wrapper-language">
					<f:if condition="{languageMenu}">
						<f:render partial="MetaMenus/LanguageMenu" arguments="{_all}"/>
					</f:if>
				</div>
			</f:if>
				<f:if condition="{settings.showSearch}">
					<f:then>
						<div class="wrapper-searchbtn">
							<button class="search-hide-btn" aria-label="{f:translate(key:'LLL:EXT:jwsitepackage13/Resources/Private/Language/locallang.xlf:searchbuttonlink')}"><i class="fa fa-search fa-lg" aria-hidden="true"></i><span class="vhidden"><f:translate key="LLL:EXT:jwsitepackage13/Resources/Private/Language/locallang.xlf:searchbuttonlink"/></span></button>
						</div>
					</f:then>
				</f:if>
			</div>
			<div class="col-8_md-6_sm-12 wrapper-logo">
				<jw:exists file="{settings.logoFile}">
					<f:link.typolink parameter="{settings.logoLinkParameter}" title="{settings.logoLinkTitle}">
						<f:image src="{settings.logoFile}" alt="{settings.logoAltText}" height="{settings.logoHeight}" />
					</f:link.typolink>
				</jw:exists>
			</div>
		</div>
		<f:if condition="{settings.showSearch}">
			<f:then>
				<div class="grid flex-end wrapper-search" tabindex="-1">
					<f:cObject typoscriptObjectPath="lib.search"/>
				</div>
			</f:then>
		</f:if>
	</div>
	<f:render partial="MainMenu" arguments="{_all}"/>

