klaroConfig.services.push(
	{
		name: 'twitter',
		default: false,
		title: 'Twitter',
		purposes: ['socialmedia'],
		cookies: [
			['csrf_same_site_set', '/', 'twitter.com'],
			['remember_checked_on', '/', 'twitter.com'],
			['eu_cn', '/', 'twitter.com'],
			['mbox', '/', 'twitter.com'],
			['_gid', '/', 'twitter.com'],
			['auth_token', '/', 'twitter.com'],
			['check', '/', 'twitter.com'],
			['twid', '/', 'twitter.com'],
			['tfw_exp', '/', 'twitter.com'],
			['mboxEdgeCluster', '/', 'twitter.com'],
			['_ga', '/', 'twitter.com'],
			['rweb_optin', '/', 'twitter.com'],
			['external_referer', '/', 'twitter.com'],
			['dnt', '/', 'twitter.com'],
			['kdt', '/', 'twitter.com'],
			['ct0', '/', 'twitter.com'],
			['csrf_same_site', '/', 'twitter.com'],
			['ads_prefs', '/', 'twitter.com'],
			['syndication_guest_id', '/', 'twitter.com'],
			['guest_id', '/', 'twitter.com'],
			['personalization_id', '/', 'twitter.com'],
			['lang', '/', 'syndication.twitter.com'],
			['lang', '/', 'cdn.syndication.twimg.com'],
		],
		required: false,
	},
);
