<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="small">{settings.imageSizeSmall}</f:variable>
<f:variable name="medium">{settings.imageSizeMedium}</f:variable>
<f:variable name="large">{settings.imageSizeLarge}</f:variable>

<f:layout name="Default"/>
<f:section name="Header">
</f:section>
<f:section name="Main">

	<f:if condition="{gallery.rows}">
		<div class="ce-heroimage">
			<f:for each="{gallery.rows}" as="row">
				<f:for each="{row.columns}" as="column" iteration="iterator">
					<f:if condition="{column.media} && {iterator.isFirst}">
						<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings, usedColPosPercentage: usedColPosPercentage}" />
					</f:if>
				</f:for>
			</f:for>
			<f:if condition="{data.bodytext} || {data.header}">
				<div class="hero-text">
					<f:render partial="Header/Header" arguments="{
				header: data.header,
				layout: data.header_layout,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position}\')}',
				link: data.header_link,
				default: settings.defaultHeaderType}"/>

					<f:if condition="{data.bodytext}">
						<div class="ce-bodytext">
							<f:format.html>{data.bodytext -> f:format.crop(maxCharacters:'{settings.cropMaxHeroTextCharacters}', respectWordBoundaries:'1')}</f:format.html>
						</div>
					</f:if>
				</div>
			</f:if>
		</div>
	</f:if>

</f:section>
</html>
