<f:layout name="Standard"/>
<f:comment>JW: this template is only for documentation purposes</f:comment>
<f:section name="Content">
    <!--TYPO3SEARCH_end-->
    <div class="content-main width-max styleguide">
        <div class="grid">
            <div class="col-12">
                <h1>Styleguide</h1>
                <div id="jw1" class="section frame-ruler-after">
                    <h2>Colors</h2>
                    <div class="grid">
                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 color1">color1</p>
                                <a>Link</a><span> Text</span></div>
                            <div class="col-6 padding-all color-color1">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 color2">color2</p>
                                <a>Link</a><span> Text</span></div>
                            <div class="col-6 padding-all color-color2">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 color3">color3</p>
                                <a>Link</a><span> Text</span></div>
                            <div class="col-6 padding-all color-color3">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 color4">color4</p>
                                <a>Link</a><span> Text</span></div>
                            <div class="col-6 padding-all color-color4">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 gray1">gray1</p><a>Link</a><span> Text</span>
                            </div>
                            <div class="col-6 padding-all color-gray1">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 gray2">gray2</p><a>Link</a><span> Text</span>
                            </div>
                            <div class="col-6 padding-all color-gray2">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 gray3">gray3</p><a>Link</a><span> Text</span>
                            </div>
                            <div class="col-6 padding-all color-gray3">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 gray4">gray4</p><a>Link</a><span> Text</span>
                            </div>
                            <div class="col-6 padding-all color-gray4">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 gray5">gray5</p><a>Link</a><span> Text</span>
                            </div>
                            <div class="col-6 padding-all color-gray5">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 black">black</p><a>Link</a><span> Text</span>
                            </div>
                            <div class="col-6 padding-all color-black">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>

                        <div class="grid col-6_md-12 margin-bottom">
                            <div class="col-6 align-right"><p class="fontsize3 black">white</p><a>Link</a><span> Text</span>
                            </div>
                            <div class="col-6 padding-all color-white">
                                <a>Link</a><span> Text</span><span class="invers"> Text invers</span><a
                                class="invers"> Link</a>
                            </div>
                        </div>
                    </div>
                    <div>Standard Schriftfarbe: gray1</div>
                    <div class="font-color-light">Helle Schriftfarbe: gray2</div>
                </div>
                <f:format.raw>{content0}</f:format.raw>
                <f:comment>JW: examples for individual extensions etc.</f:comment>
                <div id="jw2" class="section frame-ruler-after">
                    <h2>Icons, Examples</h2>
                    <div class="margin-bottom">
                        <ul class="horizontal">
                            <li><i class="fa fa-chevron-up fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-up fa-lg" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></li>
                        </ul>
                        <ul class="horizontal">
                            <li><i class="fa fa-chevron-down  fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-up  fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-left fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-right fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-plus fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-minus fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-check-square fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-fax fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-globe fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-user-alt fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-address-card fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-bookmark fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-info fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-building fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-clock fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-lock-open fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-map-marker-alt fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-map fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-mobile-alt fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-image fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-images fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-adjust fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-video fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-eye fa-lg fa-fw" aria-hidden="true"></i></li>
                            <li><i class="fa fa-ticket-alt fa-lg fa-fw" aria-hidden="true"></i></li>
                        </ul>

                    </div>
                </div>
                <div id="jw3" class="section frame-ruler-after">
                    <h2>Paginator</h2>
                    <div class="margin-bottom">
                        <ul class="f3-widget-paginator">
                            <li class="current"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li>…</li>
                            <li class="last"><a href="">7</a></li>
                            <li class="last next"><a href="">Nächste</a></li>
                        </ul>
                    </div>
                </div>
                <div id="jw4" class="section frame-ruler-after">
                    <h2>Glossary</h2>
                    <div class="margin-bottom">
                        <ul class="glossary-alphabet">
                            <li class="active"><span>A</span></li>
                            <li><a href="">B</a></li>
                            <li><a href="">C</a></li>
                            <li><a href="">D</a></li>
                            <li><a href="">E</a></li>
                            <li><a href="">F</a></li>
                            <li><a href="">G</a></li>
                            <li><a href="">H</a></li>
                            <li><a href="">I</a></li>
                            <li><span>J</span></li>
                            <li><a href="">K</a></li>
                            <li><a href="">L</a></li>
                            <li><a href="">M</a></li>
                            <li><a href="">N</a></li>
                            <li><a href="">O</a></li>
                            <li><a href="">P</a></li>
                            <li><span>Q</span></li>
                            <li><a href="">R</a></li>
                            <li><a href="">S</a></li>
                            <li><a href="">T</a></li>
                            <li><a href="">U</a></li>
                            <li><a href="">V</a></li>
                            <li><a href="">W</a></li>
                            <li><span>X</span></li>
                            <li><span>Y</span></li>
                            <li><span>Z</span></li>
                        </ul>
                    </div>
                </div>
                <div id="jw5" class="section frame-ruler-after">
                    <h2>Lists</h2>
                    <div>
                        <h3>Unordered</h3>
                        <div>
                            <ul>
                                <li>This is a list item in an unordered list</li>
                                <li>An unordered list is a list in which the sequence of items is not important.
                                    Sometimes, an
                                    unordered list
                                    is a bulleted list. And this is a long list item in an unordered list that can
                                    wrap onto a new
                                    line.
                                </li>
                                <li>
                                    Lists can be nested inside of each other
                                    <ul>
                                        <li>This is a nested list item</li>
                                        <li>This is another nested list item in an unordered list</li>
                                    </ul>
                                </li>
                                <li>This is the last list item</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h3>Ordered</h3>
                        <div class="bodytext">
                            <ol>
                                <li>This is a list item in an ordered list</li>
                                <li>An ordered list is a list in which the sequence of items is important. An
                                    ordered list does not
                                    necessarily contain sequence characters.
                                </li>
                                <li>
                                    Lists can be nested inside of each other
                                    <ol>
                                        <li>This is a nested list item</li>
                                        <li>This is another nested list item in an ordered list</li>
                                    </ol>
                                </li>
                                <li>This is the last list item</li>
                            </ol>
                        </div>
                    </div>
                    <div>
                        <h3>No Bullets</h3>
                        <div>
                            <ul class="no-bullets">
                                <li>This is a list item in an unordered list</li>
                                <li>An unordered list is a list in which the sequence of items is not important.
                                    Sometimes, an
                                    unordered list
                                    is a bulleted list. And this is a long list item in an unordered list that can
                                    wrap onto a new
                                    line.
                                </li>
                                <li>
                                    Lists can be nested inside of each other
                                    <ul>
                                        <li>This is a nested list item</li>
                                        <li>This is another nested list item in an unordered list</li>
                                    </ul>
                                </li>
                                <li>This is the last list item</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h3>Definition List</h3>
                        <div>
                            <dl>
                                <dt>Title</dt>
                                <dd>Content</dd>
                            </dl>
                        </div>
                        <h3>Definition List inline class="dl-horizontal"</h3>
                        <div>
                            <dl class="dl-horizontal">
                                <dt>Title</dt>
                                <dd>Content</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="jw6" class="section frame-ruler-after">
                    <h2>Alerts</h2>
                    <div>
                        <h3>Alert Neutral</h3>
                        <div>
                            <div class="alert alert-">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore
                                magna aliqua. Ut enim ad minim veniam
                            </div>

                        </div>
                    </div>
                    <div>
                        <h3>Alert Error</h3>
                        <div>
                            <div class="alert alert-error">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore
                                magna aliqua. Ut enim ad minim veniam
                            </div>

                        </div>
                    </div>
                    <div>
                        <h3>Alert Valid</h3>
                        <div>
                            <div class="alert alert-valid">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore
                                magna aliqua. Ut enim ad minim veniam
                            </div>

                        </div>
                    </div>
                    <div>
                        <h3>Alert Warning</h3>
                        <div>
                            <div class="alert alert-warning">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore
                                magna aliqua. Ut enim ad minim veniam
                            </div>

                        </div>
                    </div>
                    <div>
                        <h3>Alert Information</h3>
                        <div>
                            <div class="alert alert-information">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore
                                magna aliqua. Ut enim ad minim veniam
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jw7" class="section frame-ruler-after">
                    <h2>Modal</h2>
                    <div>
                        <!-- Trigger/Open The Modal -->
                        <button id="btn-modal" class="btn btn-primary margin-bottom">Open Modal</button>

                        <!-- The Modal -->
                        <div id="Modal1" class="modal" role="dialog" tabindex="-1" aria-modal="true">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <button class="modal-close">
                                    <i class="fa fa-times fa-lg fa-2x" aria-hidden="true"
                                       title="close"></i>
                                    <span class="vhidden">close</span>
                                </button>
                                <p>Some text in the Modal Body</p>
                                <p>Some other text...</p>
                            </div>
                        </div>

                        <script>
                          // Get the modal
                          var modal = document.getElementById('Modal1');

                          // Get the button that opens the modal
                          var btn = document.getElementById('btn-modal');

                          // Get the <span> element that closes the modal
                          var button = document.getElementsByClassName('modal-close')[0];

                          // When the user clicks the button, open the modal
                          btn.onclick = function () {
                            modal.style.display = 'block';
                          };

                          // When the user clicks on <span> (x), close the modal
                          button.onclick = function () {
                            modal.style.display = 'none';
                          };

                          // When the user clicks anywhere outside of the modal, close it
                          window.onclick = function (event) {
                            if (event.target == modal) {
                              modal.style.display = 'none';
                            }
                          };
                        </script>
                    </div>
                </div>
                <div id="jw8" class="section frame-ruler-after">
                    <h2>Tooltip</h2>
                    <figure>
                        <small role="tooltip" class="tooltip" title="Info">
                            <span data-tooltip="Copyright, Foto: jweiland.net">&copy;</span>
                            <i class="vhidden">Copyright, Foto: jweiland.net</i>
                        </small>
                    </figure>
                    <p>HTML element: figure</p>
                    <div class="wrapper-tooltip">
                        <small role="tooltip" class="tooltip" title="Info">
                            <span data-tooltip="Copyright, Foto: jweiland.net">&copy;</span>
                            <i class="vhidden">Copyright, Foto: jweiland.net</i>
                        </small>
                    </div>
                    <p>Class: wrapper-tooltip</p>
                </div>
            </div>
        </div>
    </div>
    <!--TYPO3SEARCH_begin-->
    <!--TYPO3SEARCH_end-->
</f:section>
