<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
			data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/PartialSelection.html
-->
<f:switch expression="{settings.templateLayout}">
	<f:case value="1">
		<f:render partial="List/LatestItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
	</f:case>
	<f:case value="2">
		<f:render partial="List/CardItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
	</f:case>
	<f:defaultCase>
		<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
	</f:defaultCase>
</f:switch>
</html>